[submodule "vendor/plugins/rails_support"]
	path = vendor/plugins/rails_support
	url = ../rails_support.git
[submodule "app_frame"]
	path = vendor/plugins/app_frame
	url = ../app_frame.git
[submodule "app_table"]
	path = vendor/plugins/app_table
	url = ../app_table.git
[submodule "endless_table_skin"]
	path = vendor/plugins/endless_table_skin
	url = ../endless_table_skin.git
[submodule "paginate_table_skin"]
	path = vendor/plugins/paginate_table_skin
	url = ../paginate_table_skin.git
[submodule "basic_frame_skin"]
	path = vendor/plugins/basic_frame_skin
	url = ../basic_frame_skin.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = ../will_paginate.git
[submodule "vendor/plugins/ar_comment"]
	path = vendor/plugins/ar_comment
	url = ../ar_comment.git
[submodule "vendor/plugins/acts_as_enum"]
	path = vendor/plugins/acts_as_enum
	url = ../acts_as_enum.git
[submodule "vendor/plugins/app_settings"]
	path = vendor/plugins/app_settings
	url = ../app_settings.git
