Thumbs.db
public/images/Thumbs.db
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/stylesheets/basic.css
public/images/basic/*
public/javascripts/endless.js
public/stylesheets/endless.css
public/images/endless
public/javascripts/paginate.js
public/stylesheets/paginate.css
public/images/paginate
nbproject
Gemfile.lock
*.swp
