
#ajaxIndicator{
  -x-background-x-position:0%;
  -x-background-y-position:0%;
  background-attachment:scroll;
  background-color:#CC4444;
  background-image:none;
  background-repeat:repeat;
  color:white;
  padding-bottom:2px;
  padding-left:2px;
  padding-right:2px;
  padding-top:2px;
  position:fixed;
  _position:absolute;
  right:16px;
  top:1px;
  z-index:100001;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  color: white;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
input.blank, textarea.blank {
  color:#BBBBBB;
}
textarea.blank{
  text-align:center;
  vertical-align:middle;
}
input.active {
  color: #000044;
  background-color: White;
}
input.normal {
  color: #515151;
}

table.container{
  width: 100%;
  padding: 10px;
}
table.container tr{
  vertical-align:top;
}
table.container th, table.container td{
  padding: 5px;
}
table.container th{  
  text-align: right;
  font-size: 12px;
}
table.container tr.row th.label{
  width: 20%;   
}
table.container tr.row td.field{
  border-bottom: 1px dashed;
  cursor:text;
  width:80%;
}
ul.container{
  margin:0;
  padding: 10px;
  list-style-type:none;
  width:100%;
}
ul.container li.row{
  clear:both;
  display:block;
  margin:0;
  padding:4px 5px 2px 9px;
}
ul.container li.row label.caption{
  float: left;
  width: 100px;
  font-weight: bold;
}

form span.mandatory{
  color: red;
}
form span.memo{
  display: block;
  color:#444444;
  font-size:100%;
  line-height:130%;
  padding:4px 2px 10px;
  font-weight: bold;
}
form span.tip{
  background:#F5F5F5 none repeat scroll 0 0;
  border:1px solid #E6E6E6;
  color:#444444;
  font-size:80%;
  line-height:130%;
  margin:0 0 0 8px;
  padding:8px 10px 9px;
  position:absolute;
  width:20%;
  z-index:1000;
  visibility:hidden;
}

form li.focused, form tr.focused{  
  background-color: #ffffcc;
}

form label.inline{
  float:inherit;
}

form label.enum{  
  font-weight: bold;
}
form input.enum{
  margin-right: 15px;
}

form.s1 label.caption{
  display: block;
  float:none;
}

fieldset{
 margin:10px;
}

ul.horizontal li{
  display: inline-table
}

span.success{
  background-color: green;  
  color:white;
  padding: 0 10px ;
}
span.failure{
  background-color: red;  
  color:white;
  padding: 0 10px ;
}

span.enum_delimiter{
  margin-left:5px;
  margin-right:10px;
  font-size: 15px;
}

pre.stdout{
  background-color: black;
  color: white;
  width: 75%;
}
pre.stderr{
  background-color: red;
  color: white;
  width: 75%;
}
.message-tips {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#FEEEB2 none repeat scroll 0 0;
  border:1px solid #DBD7C8;
  color:#555555;
  margin-bottom:10px;
  padding:8px 10px 8px 20px;
}
.message-tips .close-tips {
  float:right;
}
.message-tips .close-tips a {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/x_to_hide.gif) no-repeat scroll 0 0;
  display:block;
  height:14px;
  margin-top:1px;
  width:13px;
}

img{
  border: 0;
}